
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowdtro</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type='text/css'>
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <% if (message) { %> <p><%= message %></p> <% } %>
      <a class='btn btn-lg btn-primary btn-block' href='/auth/google_apps'>Google Apps</a>
    </div>
  </body>
</html>
